/* All pages */
body .parallax-container img{
  width: 100%;
}
body .projk-overall {
  display: block;
  text-align: center;
  font-size: 19px;
}

/* Quentin's project */
.title {
  margin-left: 275px;
  color: white;
}

/* Kevin's project N°1 */
body .projk-overall .parallax-container{
  height: 350px;
  display: flex;
}
.program {
  padding-top: 5%;
}

/* kevin's project n°2 */
body .caracters_img img {
  width: 150px;
  height: 150px;
}
.caracters_img {
  background-image: url(../img/C-carac-background.png);
  background-size: 100% 100%;
}
body .projk2-overall .parallax-container {
  height: 350px;
}
body .before img{
  width: 450%;
}
body .beefore img{
  width: 150%;
}
.iceland {
  background-image: url(../img/iceland-animal-crossing.jpg);
  background-size: 100% 100%;
}
.biggest {
  font-size: 2em;}
.iceland {
  margin-bottom: 0;
}
body .Ctitle h4 {
  margin-top: 0;
}
.projk-presentation {
  margin-bottom: 0;
  background-image: url(../img/fireworks.png);
}
.ccters {
  margin-bottom: 0;
}
