.intro .parallax-container{
  height: 500px;
}

body .caracters_img img{
  width: 150px;
  height: 150px;
}
.caracters_img{
  background-image: url(../img/C-carac-background.png);
  background-size: 100% 100%;
}
body .projk2-overall .parallax-container {
  height: 350px;
}
.about-p{
  background-image: url(../img/text_border.png);
  background-size: 100% 100%;
}
.Ctitle{
  background-image: url(../img/text_border.png);
  background-size: 100% 100%;
}

body .projk-overall img {
  width: 37%;
  display: flex;
}

body .projk-overall {
  display: block;
  text-align: center;
  font-size: 19px;
}

.program{
  padding-top: 5%;
}
.title {
  margin-left: 275px;
}
.audie{
  background-color: red;
}

.uneimage{
  background-image: url(../full.png);
}
