body .projk-overall img {
  width: 37%;
  display: flex;
}

body .projk-overall {
  display: block;
  text-align: center;
  font-size: 19px;
}

.program{
  padding-top: 5%;

.parallax-container {
  height: 400px;
}
